@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


/* ==================== */
/* CUSTOM PROPERTIES    */
/* ==================== */

:root {
  /* ----- Colors ----- */
  --clr-dark: #000000;
  --clr-light: #FFFFFF;
  --clr-gray: #a4a4a4;
  --clr-blue: #1560BD;
  --clr-blue-accent: #3e7cc7;
  --light-bg-color: #edf9fc;
  --light-bg-color-modal: #c0dcf1;
  --dark-bg-color: #e1edf5;
  --clr-attention: #e96005;
  --clr-attention-hover: #c34e00;

  /* ----- Typography ----- */
  --ff-primary: 'Open Sans', sans-serif;
  --fs-600: 1.5rem;
  --fs-700: 2.5rem;
}

/* ==================== */
/* RESETS               */
/* ==================== */

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ==================== */
/* GLOBAL               */
/* ==================== */

html {
  font-family: var(--ff-primary);
  font-size: 18px;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

picture { margin-inline: auto; }


/* ==================== */
/* UTILITIES            */
/* ==================== */

/* ----- Colors ----- */

.bg-dark { background-color: var(--dark-bg-color); }
.bg-light { background-color: var(--light-bg-color); }

.text-light { color: var(--clr-light); }
.text-dark { color: var(--clr-blue); }

.clr-blue { color: var(--clr-blue); }
.clr-attention { color: var(--clr-attention); }

/* ----- Typography ----- */

.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }

.uppercase { text-transform: uppercase; }

.text-center { text-align: center; }

.bold { font-weight: bold; }

.blue-span { color: var(--clr-blue); }

a { text-decoration: none; }

a:link,
a:visited { color: var(--clr-blue); }

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: var(--clr-attention);
  color: var(--light-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.4s;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 10px var(--clr-attention-hover);
  box-shadow: 0 10px 10px var(--clr-attention-hover);
}

.btn:hover,
.btn__submit:hover { background-color: var(--clr-attention-hover); }

.section-headline {
  background: #1560BD;
  background: linear-gradient(to right, #1560BD 37%, #73a9eb 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon {
  color: var(--clr-blue);
  margin: 0 0.5rem;
}
.social-icon--nav {
  display: inline-block;
  color: var(--clr-light);
}

.social-icon--a { margin-right: 1rem; }

/* ----- Layout ----- */

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

.flex { display: flex; }
.grid { display: grid; }

section { padding: 2rem 0; }


/* ==================== */
/* MAIN CONTENT         */
/* ==================== */

/* ----- Header and Nav Bar ----- */

header {
  background-image: url('./assets/images/hero-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 2.667rem 0.5em 0 0;
  justify-content: space-between;
  align-items: center;
}

.nav_logo_container {
  background-color: var(--clr-light);
  border-radius: 45%;
  padding: 0.4em;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.25);
}

.nav_logo_container,
.hamburger_menu_container,
.close_hamburger_container { z-index: 102; }

.nav-logo {
  height: 3rem;
  width: auto;
}

.nav__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 101;
  font-size: var(--fs-600);
  padding-left: 1.6rem;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-blue);
  transition: 0.3s;
}

.nav__menu.active { left: 0; }

.hamburger_menu_container.hidden { display: none; }

.nav_logo_container.hidden{ display: hidden; }

.btn.hidden { display: none; }

.close_hamburger_container { display: none; }

.close_hamburger_container.active { display: block; }

.btn.active { display: inline-block; }

.nav__menu--item {
  margin-bottom: 1.6rem;
  list-style: none;
}

.nav__menu--item:last-child { margin: 0; }

.nav__menu--item a { color: var(--clr-light); }

.hero-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-header p { margin-top: 2rem; }

.left-header h1 { margin-top: 1rem; }

.left-header h2 { margin-top: 2rem; }

.cta { margin: 4rem 0; }

.hero-profile {
  width: 70%;
  height: auto;
  margin-top: 3rem;
  background: rgba( 50, 51, 118, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px transparent rgba( 255, 255, 255, 0.18 );
  padding: 0.5em;
}

/* ----- About Me section ----- */

.about .flex { flex-direction: column; }

.about p {
  line-height: 1.8rem;
  margin-top: 2rem;
}

.profile-description-container { margin-top: 2rem; }

.about_profile {
  position: absolute;
  width: 51%;
  max-width: 51%;
  height: auto;
  top: 10%;
  left: 21%;
  border-radius: 10%;
}


/* ----- Technical Skills section ----- */

.skills .flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.skill-container ion-icon { color: var(--clr-blue); }

.skill-container:last-child { margin-bottom: 0; }

/* ----- Grow Business section ----- */

.how {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.9)), url('./assets/images/skyscraper.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 50vh;
}

.how-item-container {
  align-items: center;
  justify-content: center;
}

.how-item p { font-size: 1.125rem; }

.how-item span { font-size: 2rem; }

.how-item span:last-child { font-size: 1.125rem; }

.how-item .icon { margin-top: 5rem; }

.how-item h3 { margin-top: 1.5rem; }

.how-item p {
  text-align: center;
  margin-top: 3rem;
  line-height: 1.8rem;
}

.icon {
  color: var(--clr-blue-accent);
  font-size: 64px;
}

/* ----- Past Project ----- */

.projects { padding-bottom: 2rem; }

.projects-container { flex-direction: column; }

.project-container {
  margin-top: 2rem;
  background-color: var(--light-bg-color);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.project img {
  display: inline;
  width: 70%;
  height: auto;
}

.project { margin-top: 2rem; }

/* ----- Contact Me section ----- */

.contact {
  background-color: var(--dark-bg-color);
  background-image: url('./assets/images/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2.5rem;
}

.form-container {
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.form-inputs-container {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1em;
}

label {
  display: block;
  margin-top: 2.5rem;
}

label:first-child { margin-top: 0; }

input,
textarea {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  padding: 0.5em;
  min-width: 15rem;
  width: 100%;
}

.btn__submit {
  margin-inline: auto;
  margin-top: 2rem;
  width: 25%;
}

/* ----- Footer ----- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer--social {
  margin-top: 1rem;
}

.profile-avatar {
  width: 50%;
  height: auto;
}

/* ==================== */
/* BLOG PAGE            */
/* ==================== */

.blog-heading {
  margin-bottom: 3rem;
}

.blog-heading p {
  margin-top: 0.7rem;
  font-weight: 300;
}

.blog-footer {
  background-color: var(--clr-gray);
}

.blog-footer p {
  margin-top: 1rem;
}


/* ==================== */
/* MEDIA QUERIES        */
/* ==================== */

@media (min-width: 600px) {

  html { font-size: 20px; }

  .hero-profile { margin: 0; }
  
  .hero-content img { width: 50%; }

  .left-header p { margin-top: 1.5rem; }
  
  .left-header h1 { margin-top: 1.5rem; }
  
  .left-header h2 { margin-top: 1.5rem; }
  
  .cta { margin-bottom: 1.5rem; }

  .profile-avatar { width: 25%; }
  
}

@media (min-width: 600px) and (max-width: 899px) {
  input,
  textarea { min-width: 20rem; }
}

@media (min-width: 600px) and (min-height: 375px) {
  .nav__menu {
    flex-direction: row;
    font-size: 90%;
    left: 120%;
    align-items: center;
  }

  .nav__menu--item {
    margin: 0;
    margin-right: 1rem;
  }

  .nav__menu--item:last-child { margin: 0; }
}

@media (min-width: 900px) {

  .how-item-container {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .how-item { width: 100%; }

  .how-item p { font-size: 1rem; }

  .how-item span { font-size: 2rem; }

  .how-item span:last-child { font-size: 1rem; }

  .how-item-container { gap: 3rem; }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .name-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .email { margin-top: 0; }

  textarea {
    max-width: 100%;
    width: 100%;
  }

  .profile-avatar { width: 10%; }
}

@media (min-width: 1100px) {

  .hamburger_menu_container,
  .close_hamburger_container { display: none !important; }

  .nav__menu {
    position: static;
    display: flex;
    font-family: var(--ff-secondary);
    left: inherit;
    height: inherit;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: inherit;
    text-transform: capitalize;
  }

  .nav__menu--item {
    margin: 0 2rem 0 0;
    font-size: 1rem;
    text-transform: none;
    font-weight: normal;
  }

  .nav__menu--item,
  .project,
  .social-icon,
  .social-icon--nav { transition: transform 0.4s; }

  .nav__menu--item:hover,
  .project:hover,
  .social-icon:hover,
  .social-icon--nav:hover { transform: scale(120%); }

  .nav__menu--item:last-child { margin: 0; }

  .hero-content {
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .left-header.text-center { text-align: left; }

  .about .flex { flex-direction: row; }

  .profile-description-container {
    margin: 0;
    width: 100%;
  }
}